{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <div class="welcomes">
        <div class="welcome_minecraft">
            <img src="{% static 'image/mining.gif' %}" alt="Mining" class="glow_image" align="left">
            <h2 class="content_text">Все началось с него... Minecraft!</h2>
            <h3 class="content_text">Однажды маленький мальчик узнал что такое YouTube, начал смотреть хайпового тогда Лололошку и сам захотел поиграть в эту игру.<br>Но вот незадача, со временем контента игры стало мало для нашего героя и он захотел установить моды, которые тоже были очень популярны на тот момент. <br>Вот, 8-летний мальчик начинает рыться в компьютере, интернете и т.д.<br>Так у него и появился интерес к продвинутому использованию компьютера. </h3>
        </div>
        <div class="welcome_robots">
    
        </div>
        <div class="welcome_unity">
    
        </div>
    </div>
{% endblock content %}